/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

//Site Color 
$blue: #0d4259;
$light-blue: #4ca4c6;
$sky-blue: #00A8C9;
$light-gray: #EEEDF3;

//Image gallery 
$image-gallery-border: 7px;
