.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  .navbar{
    padding:0;
  }
  .nav-item{
    padding-left: 1em;
    padding-right: 1em;
    &:after {
      content: '';
      width: 0;
      height: 12px;
      position: absolute;
      border: 1px solid $light-blue;
      top: 28px;
      margin-left: -17px;
    }
    &:first-of-type{
      &:after {
        display: none;
      }
    }   
  }
  .dropdown{
    &:after {
      top: 15px;
    }
  }
  .dropdown:hover{
     a:after{
      content: '';
      width: 90px;
      height: 1px;
      background: $blue;
      position: absolute;
      left: 18px;
      top: 39px;
    }
  }
  .navbar-active{
    background: white;
    #navbarResponsive a {
      @media(min-width: 991px){
        color :$blue !important;
      }
      color: white;
    }
    .navbar-brand img{
      visibility: visible !important;
    }
  }
  .main-nav-wrapper{
    @media(min-width: 991px){
      padding: 0 0 0 8.5em;
    }
  }
  .navbar-phone-call img{
    margin-left: 1em;
    height:30px;
    width: 30px;
    position: absolute;
    right: 80px;
    top: 20px;
    display:block;
    @media(min-width: 991px){
      display:none;
    }
  }
  .navbar-toggler{
    height: 65px;
    background-color: $blue;
    border-radius: 0;
    outline: none;
  }
  .navbar-toggler-icon{
    background-image: url('../../images/menu-icon.svg');
    background-size: contain;
    height: 30px;
    width: 40px;
  }
  .navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    img{
      //radio 4.77
      @media(min-width: 991px){
        height: 55px;
        width: 262px;
      }
      height: 40px;
      width: 190px;
    }
  }
  #navbarResponsive{
    background-color: $blue;
    a{
      color:white;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .8px;
    }
    @media(min-width: 991px){
      .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-left: 0;
        margin-right: auto;
      }
      background-color: transparent;
      a{
        color:$blue; 
      } 
    }
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  @media(min-width: 991px){
   
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 127px;
  z-index: 1;
  left: 0;
}

.dropdown-content a {
  color: $blue !important;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover 
.dropdown-content {
  display: block;
}
.dropdown:hover {
  background: white;
  .dropbtn {
    background-color: white;
    color: $blue;
  }
}

@media(min-width: 991px){
  .home .banner .navbar-brand img{
    visibility: hidden;
  }
  .home .banner #navbarResponsive a {
    color :white;
  }
  .home .dropdown:hover .dropbtn {
    background-color: white;
    color: $blue !important;
  } 
}