/* --------------- Home page ------------------  */
.home-hero{
    background-image: url('../../images/corner_render.jpg');
    background-size: cover;
    height: 30vh;
    background-position: center;
    @media(min-width: 991px){
        height: 100vh;
        background-position: center center;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        margin-top: -65px;
    }
    img{
        height: 190px;
        width: 300px;
        min-width: 20vw;
        min-height: 25vh;
        display: none;
        z-index: 2;
        margin-top: 200px;
        left: 150px;
        position: relative;
        @media(min-width: 991px){
            display: block;
        }
    }
    .home-hero__text{
        display:none;
        @media(min-width: 991px){
            display: flex;
            color: white;
            font-weight: 100;
            flex-direction: column;
            left: 150px;
            position: relative;
            bottom: -58px;
        }
        .home-hero__text__city{
            font-size: 9em;
        }
        .home-hero__text__life{
            font-size: 17em;
            margin-top: -120px;
        }
    }
}
.home-content-below-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
}
.home-features{
    .home-feature{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction:column;
        @media(min-width: 991px){
            flex-direction: row;
            width: 75%;
            margin-top: 3em;
        }
        &:nth-child(2){
            .feature-image{
                order: 0;
            }
            .feature-content{
                order: 1;
            }
            @media(min-width: 991px){
                .feature-image{
                    order: 1;
                }
                .feature-content{
                    order: 0;
                    text-align: right;
                }
            }
        }
    }
    .feature-image{
        width: 100%;
        height: 30vh;
        border-top: 6px solid $blue;
        padding-top: 6px;
        @media(min-width: 991px){
            width: 60%;
            height: 65vh;
        }
        img{
            width: 100%;
            height: 30vh;
            @media(min-width: 991px){
                height: 60vh;
            }
        }  
    }
    .feature-content{
        width: 100%;
        @media(min-width: 991px){
            width: 40%;
            padding: 5em 4em 0 4em;
            text-align:left;
        }
        padding: 3em 1.5em;
        text-align:center;
        color: $blue;
        h1{
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: .5em;
            text-transform: uppercase;
        }
        p{
            margin-bottom: 2em;
        }
    }
    .home-feature__floorplans{
        text-align: right;
    }
}

.home-location{
    background: $blue;
   .home-location__heading{
       color: white;
       width: 100%;
       @media(min-width: 991px){
          width: 50%;
       }
       margin-left: auto;
       margin-right: auto;
       display: flex;
       flex-direction:column;
       justify-content: center;
       align-items:center;
       min-height: 350px;
       padding-top: 2em;
       padding-bottom: 2em;
       text-align:center;
       h1{
           font-weight: 200;
           letter-spacing: 2px;
           font-size: 3em;
            @media(min-width: 991px){
                font-size: 4.2em;
                letter-spacing: 4px;
            }
       }
       p{
           padding: 0 5em;
       }
   } 
}


/* --------------- Image Gallery ------------------  */
.home .image-gallery .img-small{
    height: 20vh;
    @media(min-width: 991px){
        height: 40vh;
    }
    &:nth-of-type(3){
      border-right: none;
    }
    @media(max-width: 990px){
        &:nth-of-type(5){
            border-right: none;
        }
    }
  
    border-right: $image-gallery-border solid white;
}
.home .image-gallery .img-big{
    height: 20vh;
    @media(min-width: 991px){
        height: 40vh;
    }
    &:last-of-type{
      border-right: none;
    }
}
.image-gallery{
    .gallery-img{
        padding: 0;
        height: 30vh;
        background-position: center center;
        border-top: $image-gallery-border solid white;
        object-fit: cover;
        background-size: cover;
        @media(min-width: 991px){
            border-right: $image-gallery-border solid white;
        }
    }
    .gallery-img:after, .gallery-img:before {
        position:absolute;
        opacity:0;
        transition: all 0.55s;
    }
    .gallery-img:after {
        content:'\A';
        width:100%; 
        height:100%;
        top:0; 
        left:0;
        background:rgba(0,0,0,0.8);
    }
    .gallery-img:before {
        content: attr(data-content);
        width:100%;
        color:white;
        z-index:1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        box-sizing:border-box;
        height: 100%;
        @media(min-width: 991px){
            padding: 0 5em;
            font-size: 3.5em;
        }
        padding: 0 2em;
        font-size: 1.5em;
    }
    .gallery-img.img-small:before{
        font-size: 1em;
        padding: 0 1em;
        @media(min-width: 991px){
            font-size: 2.5em;
            padding: 0 3em;
        }
     }
    .gallery-img.text-small:before{
         @media(min-width: 991px){
            font-size: 1.5em;
         }
         font-size: 1em;
     }
    .gallery-img:hover:after, .gallery-img:hover:before {
        opacity:1;
    }
}

/* --------------- Custom page template interior ------------------  */
.custom-page__hero-section{
    @media(min-width: 991px){
        height: 85vh;
    }
    height: 30vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    span.hero-title{
      display: none;
      @media(min-width:991px){
          display: block;
          font-size: 15em;
          font-weight: 100;
          word-spacing: 5px;
          color: white;
          margin-bottom: -82px;
      }
    }
}

.custom-page__sub-content{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    @media(min-width:991px){
        width: 70%;
        padding-top: 4em;
    }
    margin: auto;
    text-align: center;
    margin-bottom: 4em;
    h2{
        color: $blue;
        letter-spacing: 1px;
        @media(min-width:991px){
            font-size: 2.5rem;
            margin-top: 0;
        }
        font-size: 1.5rem;
        margin-top: 1em;
    }
    p{
        color: $blue;
        font-weight: 500;
        @media(min-width:991px){
            font-size:1.1rem;
        }
    }
    .hero-title-mobile{
        display: block;
        margin-top: 1em;
        font-size: 2.3em;
        font-weight: 600;
        color:$blue;
        @media(min-width:991px){
            display: none;
            margin-bottom: -2em;
        }
    }
}

/* --------------- Residences ------------------  */
.residences{
  .residences__first-img{
    height: 28vh;
    width: 92%;  
    margin:auto;    
    z-index: 2;
    border-bottom: 5px solid white;
    @media(min-width:991px){
      height: 70vh;
      width: 68%;  
    }
  }
  .residences__bg{
    width: 100%;
    background: $blue;
    height: 25vh;
    margin-top: -20vh;
    z-index: 1;
    @media(min-width:991px){
      height: 52vh;
      margin-top: -46vh;
    }
  }
  // Interior Features
  .residences__interior-features{
    background: $blue;
    height: auto;
    padding-bottom: 5em;
    width:100%;
    .residences__interior-features__inner{
        width: 92%;  
        @media(min-width:991px){
            width: 68%;
            flex-direction: row;
        }
        margin-left:auto;
        margin-right:auto;
        display:flex;
        flex-direction: column;
    }
    .list-features-image{
        width: 100%;
        border-bottom: 5px solid white;
        @media(min-width:991px){
            width: 60%;
        }
        img{
            height: 30vh;
            width: 100%; 
            @media(min-width:991px){
               height: 80vh;
            }
        }
       
       
    }
    .list-features-wrapper{
        width: 100%;
        margin-top: 2em;
        @media(min-width:991px){
            width: 40%;
            margin-top: 0;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
        h1{
            font-weight: 200;
            letter-spacing: 2px;
            font-size: 2.1em;
            @media(min-width:991px){
                width: 40%;
                font-size: 3em;
            }
        }
        h3{
            font-weight: 200;
            letter-spacing: 2px;
            font-size: 1.8em;
            @media(min-width:991px){
                font-size: 2.3em;
            }
            margin-bottom: 1em;
        }
        li{
          margin-top: 1.5em;
          font-size: .95em;
        }
        .list-features__btn-make-appointment{
            margin-top: 3em;
            @media(min-width:991px){
                 margin-left: 5em;
            }
        }
    }
  }
  // Kitchen and Bath 
  .residences__kitchen__bath{
    overflow: hidden;
    .residences__kitchen-img{
        width:100vw;
        height: 30vh;
        @media(min-width:991px){
           height: 85vh;
        }
    }
    .residences__kitchen-img-desc{
        width: 80%;
        @media(min-width:991px){
            width: 55%;
            height: 200px;
        }
        margin: auto;
        text-align:center;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue;
        font-size:1.1em;
        font-weight: 500;
    }
    .residences__bath{
        width: 92%;
        @media(min-width:991px){
           width: 68%;
           border-bottom: 6px solid $blue;
           flex-direction: row;
            margin-bottom: 8em;
        }
        margin-left:auto;
        margin-right:auto;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 4em;
      
        .residences__bath-img-left{
            width: 100%;
            height: 30vh;
            @media(min-width:991px){
              width: 65.5%;
              height: 65vh;
            }
        }
        .residences__bath-img-right{
            width: 100%;
            height: 30vh;
            margin-top: 2em;
            @media(min-width:991px){
              width: 33%;
              height: 65vh;
               margin-top: 0;
            }
        }
    }
  }
}


/* --------------- Amenities ------------------  */
.amenities{
    .gallery-img{
        height: 40vh;
        &:nth-of-type(4),  
        &:nth-of-type(5){
            @media(min-width:991px){
                flex: 0 0 50%;
                max-width: 50%;
                overflow: hidden;
            }
        }
    }
}

.location{
    .vertical-image{
        @media(min-width:991px){
            overflow: hidden;
            height: 60vh;
        }
    }
}
/* --------------- Gallery ------------------  */
.gallery-page{
   .gallery-img{
    border-right: 2.5*$image-gallery-border solid white;
    @media(min-width: 991px){
        border-top: 2.5* $image-gallery-border solid white;
    }
   }
}
/* --------------- Team ------------------  */
.team{
    .team-item{
        h4{
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $light-gray;
            width:60%;
            margin-left: auto;
            margin-right: auto;
            color: $blue;
            @media(min-width:991px){
               margin-left: 0;
            }
        }
        p{
            text-align:center;
            padding: 20px 20px 20px 0;
            @media(min-width:991px){
              text-align: left;
            }
        }
    }
}
/* --------------- Updates ------------------  */
.updates{
    .updates-item{
        border:none;
        padding: 2em;
        @media(min-width:991px){
            padding: 2em 5em;
        }
        img{
            height: 35vh;
        }
        .card-body{
            color: $blue;
        }
    }
}
/* --------------- Avaliability ------------------  */
.page-id-199{
    .custom-page__sub-content p{
        @media(min-width:991px){
            font-size: 1.5rem;
        }
    }
}
.availability{
    .nav-pills{
        width: 100%;
        margin-left: auto;
        margin-right: auto;;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -2em;
        @media(min-width:991px){
            flex-direction: row;
            justify-content: space-around;
            width: 60%;
        }
        .nav-item{
            border:1px solid $blue;
            margin-bottom: 1em;
            .nav-link{
                color: white;
                padding: .3em 3.7em;
                background: $blue;
                border-radius: 0;
            }
            @media(min-width:991px){
                margin-bottom: 0;
            }
            .nav-link.active{
                background: white;
                color: $blue;
            }
        }
    }
    .tab-content{
        .plan-img-wrapper{
            padding: 1em 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: padding-box;
            img{
                 border:2.5px solid $blue;
            }
        }
    }
    .plan-detail{
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
