/* --------------- Avaliability ------------------  */
.page-id-199{
    .custom-page__sub-content p{
        @media(min-width:991px){
            font-size: 1.5rem;
        }
    }
}
.availability{
    .nav-pills{
        width: 100%;
        margin-left: auto;
        margin-right: auto;;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -2em;
        @media(min-width:991px){
            flex-direction: row;
            justify-content: space-around;
            width: 90%;
        }
        @media(min-width:1650px){
            width: 70%;
        }
        .nav-item{
            border:1px solid $blue;
            margin-bottom: 1em;
            .nav-link{
                color: white;
                padding: .3em 3.7em;
                background: $blue;
                border-radius: 0;
            }
            @media(min-width:991px){
                margin-bottom: 0;
            }
            .nav-link.active{
                background: white;
                color: $blue;
            }
        }
    }
    .tab-content{
        .plan-img-wrapper{
            @media (min-width:768px) and (max-width:990px){
                padding: 0 1em;
            }
            padding: 1em 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: padding-box;
            img{
                 border:2.5px solid $blue;
            }
        }
    }
    .plan-detail{
        display:none;
        h2{
            color: $blue;
            text-align: center;
        }
        .download-floorplan{
            color: $blue;
            font-size: .8rem;
            border-bottom: 2px solid $blue;
            transition: 0.4s all;
            letter-spacing: 1px;
            &:hover{
                text-decoration: none;
                color: $sky-blue;
                border-color:$sky-blue;
            }
        }
        .plan-detail{
            max-height: 90vh;
        }

    }
    .plan-detail-active{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inactive{
      display:none;
    }
    .availability__divider{
        border-top: 3px solid $blue;
        margin-top: 4.5em;
        display: none;
    }
}
