.page-id-26 footer.content-info{
    display:none;
}

.contact{
    min-height: 100vh;
    .footer-content{
        justify-content: center;
        h1{
            font-weight: 200;
            font-size: 3rem;
            @media(min-width: 991px){
                font-size: 3.8rem;
            }
        }
        h3{
            font-size: 1.3rem;
        }
    }
    .footer-right-no-form{
        @media(min-width: 991px){
            top: -200px;
        }
    }
    .footer-left{
        justify-content: flex-start;
        padding-top: 5em;
        @media(max-width: 990px){
            order: 2;
        }
    }
    .footer-right{
        @media(max-width: 990px){
            order: 1;
        }
        .contact-forms__buyer,
        .contact-forms__broker{
            display: none;
            @media(min-width: 991px){
                width: 70%;
                margin: auto;
            }
        }
        .contact-form-active{
            display: inline-block;
        }
        .btn-form-active{
           background: $sky-blue;
        }

    }
    .gform_wrapper{
        margin-top: 3em;
        .gform_body .gfield_label{
            display: none;
        }
        input[type="text"]{
            border:none;
            border-bottom: 2px solid $blue;
            &:focus, &:active{
                outline: none;
            }
        }
        input::placeholder {
            color: lighten($blue, 20%);
            font-size: .9rem;
            font-weight: 500;
        }
    }
    #field_2_12{
        h2{
            text-align:center;
            margin-top: 1.5em !important;
        }
    }
    #field_2_10{
        .gfield_label{
            display: block;
        }
        textarea{
            margin-top:0;
        }
    }
    .gform_wrapper .gsection{
        border:none;
    }
    #input_1_1_3_container, #input_1_1_6_container{
        label{
            display:none;
        }
    }
    #input_2_1_3_container, #input_2_1_6_container{
        label{
            display:none;
        }
    }
    #input_2_13{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        flex-direction: column;
        @media(min-width: 768px){
           flex-direction: row;
        }   
        li{
            width: 100%;
            @media(min-width: 991px){
                width: 33%;
            }
            input{
                width: 16px;
                height: 16px;
            }
           label{
               margin-left: 5px;
               margin-top: 4px;
               color: $blue;
               font-weight: 500;
           }
        }
    }
    //Textarea
    textarea{
        margin-top: 2em;
        border: 2px solid $blue;
    }
    textarea::placeholder {
        color: lighten($blue, 20%);
        font-size: .9rem;
    }
}