/* --------------- Gallery page ------------------  */
.gallery-page{
    @media(min-width: 991px){
        margin-top: -4em;
    }
   .gallery-img{
    height: 25vh; 
    border-right: $image-gallery-border solid white;  
    @media(max-width: 450px){
        &:nth-of-type(even){
            border-right: $image-gallery-border none;
        }
    }
    @media(min-width: 991px){
        height: 30vh;   
        border-top: 2.5* $image-gallery-border solid white;
        border-right: 2.5*$image-gallery-border solid white;
    }
   }
   .gallery-img:before {
      display: none;
   }
   .gallery-img:after {
      display: none;
    }
}

