.location{
    border-bottom: $image-gallery-border solid $blue;
}
.location-map{
    height: 500px;
    margin-top: 5em;
    .location-map__filter{
        background: $blue;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        a{
            border:2px solid white;
            color: white;
            text-transform: uppercase;
            margin-bottom: 1.2em;
            width: 60%;
            text-align:center;
            padding-top:.3em;
            padding-bottom: .3em;
            &:hover{
                text-decoration: none;
            }
            &:last-of-type{
                 margin-bottom: 0;
            }
        }
    }
}